In [1]:
import pandas as pd

In [20]:
# Floor Prices
df_spot = pd.read_json('price-data/spot.json')#, orient='records')
df2 = df_spot.drop(df_spot.columns[[1,2]], axis=1)

df2['floorPrice'] = df2['data'].astype(str).str.split(',').str[0]
df2['date'] = df2['data'].astype(str).str.split(',').str[1]
df3 = df2.drop(df2.columns[[0]], axis=1)

df3['floorPrice'] = df3['floorPrice'].astype(str).str.split(':').str[1]
df3['date'] = df3['date'].astype(str).str.split(':').str[1]

df3['floorPrice'] = df3['floorPrice'].map(lambda x: x.rstrip("'").lstrip(" '")).astype(float)
df3['date'] = df3['date'].map(lambda x: x.lstrip(" '").rstrip("00").rstrip("T"))
df3.sort_values(by='date', ascending=True).head()
# print(df3.head())

   floorPrice        date
0       36.50  2021-10-15
1       36.00  2021-10-16
2       35.10  2021-10-17
3       36.00  2021-10-18
4       35.68  2021-10-19

In [19]:
# Estimated Prices
df_strikes = pd.read_json('price-data/strikes.json')
df4 = df_strikes.drop(df_strikes.columns[[1,2]], axis=1)

df4['estPrice'] = df4['data'].astype(str).str.split(',').str[0]
df4['date'] = df4['data'].astype(str).str.split(',').str[1]
df5 = df4.drop(df4.columns[[0]], axis=1)

df5['estPrice'] = df5['estPrice'].astype(str).str.split(':').str[1]
df5['date'] = df5['date'].astype(str).str.split(':').str[1]

df5['estPrice'] = df5['estPrice'].map(lambda x: x.rstrip("'").lstrip(" '")).astype(float)
df5['date'] = df5['date'].map(lambda x: x.lstrip(" '").rstrip("00").rstrip("T"))
df5.sort_values(by='date', ascending=True).head()
# print(df5.head())

   estPrice        date
0  6.611798  2021-06-20
1  7.921276  2021-06-21
2  8.970610  2021-06-22
3  9.297172  2021-06-23
4  9.828439  2021-06-24

In [22]:
df_prices = pd.DataFrame(['floorPrice', 'estPrice'])
# df_prices['floorPrice'] =